@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

.bg {
  background: #264653;
  min-height: 100vh;
}

h1, h2, .close {
  color: #F4A261;
  font-family: Capriola;
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
}

h1 {
  text-align: center;
  vertical-align: middle;
}

.navbar {
  height: 150px;
}