@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.btn-custom {
    background-color: #C95539;
    color: #E9C46A;
    width: 15vw;
    font-size: 25px;
}

.cursor {
    cursor: pointer;
}

.emptiness {
    min-height: 305px;
    height: fit-content;
    font-family: Jua;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #272d3aba;
}

form {
    font-family: Jua;
    font-style: normal;
    font-weight: normal;
    overflow: auto;
}

.form-control {
    background-color: #E9C46A;
}

.footer {
    background: #15303A;
    text-align: center;
    color: blanchedalmond;
    font-family: Jua;
    font-style: normal;
    font-weight: normal;
    padding: 2vh;
}

.head {
    width: 95%;
    display: flex;
    height: 40px;
    margin: 3% auto;
    font-size: large;
    font-family: Jua;
}

.img {
    height: 60%;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5% auto;
    border-radius: .25rem;
}

label {
    font-size: 25px;
    color: #F4A261;
}

.middle {
    vertical-align: middle;
    margin: 0 2%;
    align-self: center;
}

.modal-content {
    background: #264653;
}

.name {
    width: 130px;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post {
    width: 250px;
    height: 400px;
    background-color: #E9C46A;
    margin: 7% auto;
    border-radius: .25rem;
    padding: 5%;
}

.scrollable {
    width: 90%;
    max-height: 20%;
    overflow: auto;
    margin: 0 5%;
}


@media(max-width: 900px){
    .submit {
        display: none;
    }
}